login-page {
  /* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */

  @keyframes sceneIntro {
    0% {
      transform: translateY(20px) rotateX(-90deg) rotateY(45deg);
    }
    100% {
      transform: translateY(0) rotateX(-35deg) rotateY(45deg);
    }
  }

  .scene-login {
    animation: sceneIntro 3s forwards;
    animation-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  }


}
