<ion-header class="app-load-fade">
  <ion-navbar hideBackButton="true">
    <ion-title>Channels</ion-title>
    <button ion-button icon-only menuToggle right show color="light" style="display:block !important;" (click)="presentSettingsModal($event)">
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding="true" class="has-header app-load-fade">
  <ion-grid fixed>
  <button ion-button block outline color="light" style="margin-bottom: 12px;" (click)="presentAddModal($event)">New Channel</button>
  <ion-list id="bLKBRD-list1">

    <ion-item-sliding class="opacity-in" [ngClass]="{'first-load': firstLoad}" *ngFor="let channel of channelsObserv | async | reverse">
      <ion-item (click)="itemTapped(channel)">
        <span class="item-name">{{channel.name}}</span>
        <span class="item-note" *ngFor="let message of channel.messages; let isLatest = first"><span *ngIf="isLatest">{{message.timestamp}}</span></span>

        <ion-icon name="md-lock" *ngIf="channel.password" class="item-icon-right"></ion-icon>

      </ion-item>
      <ion-item-options side="right" (ionSwipe)="deleteChannel(channel)">
        <button ion-button expandable color="danger" (click)="deleteChannel(channel)">
          <ion-icon name="md-remove"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>
</ion-grid>
</ion-content>
