<ion-header>
  <ion-navbar class="channelFadeIn" [ngClass]="{channelVisible: isVisible, channelInvisible: isInvisible}">
    <button ion-button icon-only menuToggle right show color="light" style="display:block !important;" (click)="presentNewPostModal($event)">
      <ion-icon name="md-add"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-slides direction="vertical">

  <ion-slide *ngFor="let message of messsagesArray">
    <div class="channel-wrap">
      <p style="color:#FFFFFF;font-size:18px;">{{message.message}}</p>
      <p style="color:#C5C5C5;font-size:14px;">{{message.name}} <span>{{message.timestamp}}</span></p>
    </div>
  </ion-slide>

</ion-slides>

<!-- <div class="bottom-left-button">
  <ion-buttons>
  <button ion-button icon-only clear color="light" style="display:block !important;" (click)="presentHistoryModal($event)">
    <ion-icon class="channelFadeIn" [ngClass]="{channelVisible: isVisible, channelInvisible: isInvisible}" name="md-list"></ion-icon>
  </button>
</ion-buttons>
</div> -->

<div *ngIf="touchOverlay" (click)="removeOverlay($event)" class="touch-overlay"></div>
