channel-page {

.channel-wrap {
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 90%;
}

.swiper-slide {
  font-size: inherit;
}

.message {
  text-align: left;
  color:#FFFFFF;
  // font-size:18px;
  display:inline-block
}

.author {
  display: inline-block;
  margin-top: 5px;
  color:#BFBFBF;
  font-size: 50%;
   span {
     margin-left: 5px;
   }
}

.channelFadeIn{
  transition: opacity 2s;
  -webkit-transition: opacity 2s;
}

.channelVisible {
  opacity: 1;
}

.channelInvisible {
  opacity: 0;
}

.touch-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  // background-color: red;
}

// Not used, rather transitions
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}



}
