<ion-view title="ADD CHANNEL" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="aDDCHANNEL-form4" class="list">
      <label class="item item-input" id="aDDCHANNEL-input13" name="NewChannelName">
        <input type="text" placeholder="Channel Name">
      </label>
      <label class="item item-input" id="aDDCHANNEL-input14" name="NewChannelPassword">
        <input type="text" placeholder="Password (optional)">
      </label>
      <a ui-sref="cHANNEL" id="aDDCHANNEL-button5" class="button button-light  button-block button-outline">Create</a>
    </form>
  </ion-content>
</ion-view>