<ion-view title="BLKBRD" hide-back-button="true" id="page4">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-android-menu"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <a ui-sref="aDDCHANNEL" id="bLKBRD-button4" class="button button-light  button-block button-outline">New Channel</a>
    <ion-list id="bLKBRD-list1">
      <ion-item class="item-icon-right stable" id="bLKBRD-list-item4" ui-sref="cHANNEL">Chat 1
        <span class="item-note">08:12, 21/03</span>
        <i class="icon ion-android-lock"></i>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="stable" id="bLKBRD-list-item7">Chat 1
        <span class="item-note">08:12, 21/03</span>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-icon-right stable" id="bLKBRD-list-item8">Chat 1
        <span class="item-note">08:12, 21/03</span>
        <i class="icon ion-android-lock"></i>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="stable" id="bLKBRD-list-item9">Chat 1
        <span class="item-note">08:12, 21/03</span>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="stable" id="bLKBRD-list-item10">Chat 1
        <span class="item-note">08:12, 21/03</span>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="stable" id="bLKBRD-list-item11">Chat 1
        <span class="item-note">08:12, 21/03</span>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="stable" id="bLKBRD-list-item12">Chat 1
        <span class="item-note">08:12, 21/03</span>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="stable" id="bLKBRD-list-item13">Chat 1
        <span class="item-note">08:12, 21/03</span>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="stable" id="bLKBRD-list-item14">Chat 1
        <span class="item-note">08:12, 21/03</span>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="stable" id="bLKBRD-list-item15">Chat 1
        <span class="item-note">08:12, 21/03</span>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="stable" id="bLKBRD-list-item16">Chat 1
        <span class="item-note">08:12, 21/03</span>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>