<ion-view title="LOGIN" id="page1">
  <ion-content padding="true" class="has-header">
    <form id="lOGIN-form1" class="list">
      <label class="item item-input" id="lOGIN-input4" name="EmailLogin">
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input" id="lOGIN-input2" name="PasswordLogin">
        <input type="password" placeholder="Password">
      </label>
      <a ui-sref="bLKBRD" id="lOGIN-button1" style="border-radius:6px 6px 6px 6px;" class="button button-light  button-block button-outline">Login</a>
      <div id="lOGIN-markdown2" class="show-list-numbers-and-dots">
        <p style="color:#FFFFFF;">Forgotten your password? Click
          <strong>Here</strong>
        </p>
      </div>
    </form>
    <a ui-sref="nEWACCOUNT" id="lOGIN-button2" style="border-radius:6px 6px 6px 6px;" class="button button-balanced  button-block button-outline">Create New Account</a>
  </ion-content>
</ion-view>