<ion-view title="PREVIOUS" id="page10">
  <ion-content padding="true" class="has-header">
    <ion-list id="pREVIOUS-list2">
      <div class="item item-body" id="pREVIOUS-list-item-container3">
        <div id="pREVIOUS-markdown10" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
            pretium quis, sem. Nulla consequat massa quis enim.</p>
        </div>
        <div id="pREVIOUS-markdown11" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#3D3D3D;">
            <strong>Marcus Reutger, 08:14, 23/07</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="pREVIOUS-list-item-container4">
        <div id="pREVIOUS-markdown12" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. </p>
        </div>
        <div id="pREVIOUS-markdown13" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#3D3D3D;">
            <strong>Marcus Reutger, 08:14, 23/07</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="pREVIOUS-list-item-container5">
        <div id="pREVIOUS-markdown14" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
        </div>
        <div id="pREVIOUS-markdown15" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#3D3D3D;">
            <strong>Marcus Reutger, 08:14, 23/07</strong>
          </p>
        </div>
      </div>
      <div class="item item-body" id="pREVIOUS-list-item-container9">
        <div id="pREVIOUS-markdown22" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu,
            pretium quis, sem. Nulla consequat massa quis enim.</p>
        </div>
        <div id="pREVIOUS-markdown23" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#3D3D3D;">
            <strong>Marcus Reutger, 08:14, 23/07</strong>
          </p>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>