<ion-view title="SETTINGS" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="sETTINGS-form5" class="list">
      <label class="item item-input" id="sETTINGS-input16" name="ChangeName">
        <input type="text" placeholder="Change Name">
      </label>
      <button id="sETTINGS-button6" class="button button-light  button-block button-outline">Update</button>
      <div class="spacer" style="width: 300px; height: 68px;"></div>
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="sETTINGS-toggle10">Keep Screen On</ion-toggle>
    </form>
  </ion-content>
</ion-view>